body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.text-small {
  font-size: 12px;
}

.text-medium {
  font-size: 14px;
}

.text-large {
  font-size: 16px;
}

.file-selector {
 background-color: white;
  border-color: lightgray;
  border-radius: 5px;
}

.language-switcher {
  width: 240px;
  border-radius: 3px;
  background-color: #009EFF;
  padding: 2px;
  font-size: 14px;
  margin-right: 100px;
}

.language-switcher h5 {
  border-radius: 3px;
  margin: auto!important;
  vertical-align:middle;
}

.language-switcher div {
  padding: 0!important;

  vertical-align:middle;
}

.language-switcher .active {
  background-color: #363636;
}

.language-switcher .btn {
  border: 0!important;
  color: white!important;
  border-radius: 1px;
  width: 120px!important;
}

.input-dark {
  background-color: #292929!important;
  color: white;
  font-size: 14px;
  border: 1px solid #363636;
  box-sizing: border-box;
  border-radius: 3px;
}